.myheader{
  text-align: center;
}
.profile{
  border-radius:50%;
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:rgb(223, 235, 204);
  /height: 100px;/
}

.item2 {
  background-color:rgb(213, 238, 222);
  /height: 100px;/
}

.item3 {
  background-color:rgb(213, 213, 233);
  /height: 100px;/
}
.ab{

  height:50px;
  text-align: center;
  background-color: rgb(213, 238, 222);

}
.body{
  text-align: center;
}
